body {
  margin: 0;
  overflow: hidden;
}

#greenBlock {
  width: 50px;
  height: 50px;
  background-color: green;
  position: absolute;
  top: 50%;
  left: 0;
  transition: background-color 0.5s; /* Added for a smooth color transition */
}
  